body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 600px;
  height: 600px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(160, 241, 255);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.cat-img {
  width: 300px;
}
